@model IEnumerable<WebApplication_MVC_API.Models.MeetingModel>
@if (Model.Count() == 1)
{
    <p>You are our first participant!</p>
}
else
{
    <hr />
    <p>
        @foreach(var i in Model)
        {
            <label class="label label-info">@i.name</label>
        }
    </p>
}
